body {
    color: #123C69;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    background-image: url(https://lh3.googleusercontent.com/Wd9ftmq0iZznH1hLI-FKORKHnjD1H3Ra-gtASi02oAZUdBO0Lk0S7g4XuVZtMeLAmRZ5Mxz3JvOt4cVnxnYC3Li-PfERvlWonkbcFxp5WoTELpg7DHtnU2oiyaF7KFYePmWKaYYVJtUlBLXpECCms4dLrcpTp0LuNifsPoJpNLOohaCy_V-d32E_UYLDOHwo-YvexKZn7ri114X2cN8z8WE-UftgQnGsBQFNNUwTg2KL0kSPeqzT2pOePb0C_ymNhzX905dJqcuZ-BZSG_y4kf3fTw0KVBxDr7XcBomHGtcnIt-W0m_HnJBqsf9WdmyQC5FjUIOa05og84G7331ZMhMhLXqPqncyDgWkSHd5PhI9W97cLwTYB_YLFVXHjhPUdcumCWY5bxl2zUd7LILjlp4oDNf30uVewUB7AYn-cjHC_t-UNDBjb-MnHkm1a583cZW4K8v72RuyoV3H9Yg9LPKFI1BdkuU6OwMoKqyXZALRFcjaNjd3kaWYHxp_Jw4sbSovjn0zOcva9yygEHvUpRlMXFyD8WZchgh0YjDywMOVMtqQ9OENw2bIs3Og4Ko26kfEcN5h1dUoY_k4xCrgVx77VpBhwagU-mdtd_Sbzet7EJLsQmVWvZRhEWCGKPdXnqsLBeF21dmFyghxt5Dz9L5dHG28eiLO=w1618-h1078-no);
  }
  
  input, select {
     font-family: 'Montserrat', sans-serif;
     border: solid 0px black;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    color: #123C69;
    font-size: 45px;
    margin-bottom: 5px;
  }

  h2 {
    margin: 10px;
    text-align: left;
  }

  p {
  }

  hr {
    color: #AC3B61;
    border-style: solid;
  }

  ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
  }

  textarea {
    border: solid 0px black;
    width: 500px;
    height: 100px;
    max-width: 95%;
    max-height: 95%;
    resize: vertical;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
  }
  textarea:hover{
    font-size: 16px;
    transition: .2s;
  }
  
  label {
    font-weight: bolder;
  }
  input[type=checkbox] {
    transform: scale(1.5);
  }
  button {
    color: #AC3B61;
    align: center;
    background-color: #BAB2B5;
    border: solid 1px #AC3B61;
    padding: 5px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    text-items: center;
    border-radius: 10px;
  }
  button:hover {
    background: linear-gradient(90deg, white, blue, white);
    border-color: white;
    border-radius: 10px;
    color: white;
    transition: .5s;
  }
  #description {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
  }
  #main {
    background: rgba(237, 199, 188, .7);
    margin: 50px;
    padding: 15px;
    min-height: 1100px;
    border: solid 1px #AC3B61;
  }

  #survey-form{
    min-height: 100%;
    background: radial-gradient(rgba(238, 226, 220, .1), rgba(238, 226, 220, .5),rgba(238, 226, 220, 1));
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
  }

  #basic-info-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border: solid 3px #AC3B61;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
  }

  .column-containers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    border: solid 3px #AC3B61;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
  }

  .column-items {
    flex-grow: 1;
    max-width: 100%;
    margin: 5px;
    margin-bottom: 15px;
  }
  .basic-info-items {
    flex-grow: 1;
    max-width: 100%;
    margin: 5px;
  }

  .input-text {
    width: 300px;
    max-width: 90%;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    border: solid 0px #AC3B61;
  }

  .input-number {
    width: 50px;
    max-width: 90%;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    border: solid 0px #AC3B61;
  }
  .dropdown {
    width: 300px;
    max-width: 90%;
    height: 30px;
    border-radius: 5px;
    border: solid 0px #AC3B61;
  }
  
  .checkbox {
    margin-top: 2px;
    font-size: 15px;
    font-weight: normal;
  }
  
  .radio {
    transform: scale(1.5);
    border: solid 4px #AC3B61;
    margin: 5px;
  }
  .radio-text {
    font-weight: normal;
    font-size: 15px;
  }