body {
    background-color: #ECECEC;
    text-align: center;
}

a {
    height: 100px;
    font-size: 20px;
    border: none;
    padding: 20px;
    border-radius: 20px;
    vertical-align: middle !important;
}

a:hover {
    transform: scale(0.95);
    transition: .3s;
}

h1 {
    margin: 20px;
    padding: 20px;
    font-size: title;
    text-align: center;
}

hr {
    background-color: black;
    border-style: solid;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: inherit !important;
}

#button1 {
    text-decoration: none !important;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3D250;
    box-shadow: 10px 10px 10px #D8D8D8;
}

#button2 {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90CCF4;
    box-shadow: 10px 10px 10px #D8D8D8;
}

#button3 {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F78888;
    box-shadow: 10px 10px 10px #D8D8D8;
}

#button4 {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90CCF4;
    box-shadow: 10px 10px 10px #D8D8D8;
}

.column {
    margin: 20px;
    font-size: 20px;
    border: none;
}

.title {
    padding: 40px 10px 30px 0px;
}

.image-box {
    background-color: white;
    vertical-align: center;
    height: 200px;
    padding: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.yellow {
    background-color: #F3D250;
}

.red {
    background-color: #F78888;
}

.section {
    width: 100%;
}

.title {
    font-size: 75px !important;
}